body {
  font-family: "Mollen personal use", sans-serif;
  margin: 0px;
  background-color: black;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/fondo-2000x1333.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}
.center-title {
  text-align: center;
  padding-bottom: 20px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: white;
  text-decoration-color: #c43a69;
  text-decoration-line: underline;
  text-underline-offset: 10px;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.49);
}
.article-section {
  padding: 15px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  .contact-flex {
    color: white;
    max-width: 700px;
    margin: 0px;
    padding: 0px;
    flex: 1;
  }

  .contact-form-input {
    border: 2px solid white;
    border-radius: 6px;
    padding: 20px 10px 20px 10px;
    backdrop-filter: blur(5px);
    background-color: transparent;
    font-size: 16px;
    color: white;
  }

  .btn-contact {
    border: 2px solid #c43a69;
    border-radius: 50px;
    background-color: #751938;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    transition: filter 0.8s;
    &&:hover{
      cursor: pointer;
      filter: brightness(1.3);
    }
  }
  .contact-form-input::placeholder {
    color: whitesmoke;
  }

  .contact-form-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .contact-form-subcontainer {
    display: flex;
    input {
      width: 100%;
      min-width: 200px;
    }
    gap: 10px;
  }
}

#type-student,
#be-a-member {
  display: none;
}

.sponsor-benefits-container, .student-benefits-container {
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;

  gap: 20px;
  h2 {
    margin: 0px;
  }
  section {
    border: 4px solid #751938;
    border-radius: 6px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-position: center;
    background-size: cover;
    p {
      font-size: 16px;
    }
  }

  section:nth-child(1) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../images/Sponsors_Robot_UPC.jpg");
  }
  section:nth-child(2) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../images/Sponsors_VEX_Mundial.png");
  }
  section:nth-child(3) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../images/Sponsors_Equipo.png");
  }
  section:nth-child(4) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../images/plan_social.PNG");
  }
}

#type-partner {
  display: block;
}

@media screen and (max-width: 700px) {
  .sponsor-benefits-container {
    color: white;
    display: grid;
    grid-template-columns: auto;
  }
}
