#background-navbar {
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}

#mobile-menu {
  position: fixed;
  z-index: 200;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;
  background-color: #131313e4;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 40px 15px 0px;
  gap: 30px;
  font-family: "Mollen personal use", sans-serif;
  font-size: 20px;
  .mobile-subtitle {
    color: #c43a69;
    font-weight: 600;
  }

  .mobile-lang {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    transition: transform 0.4s;
    &&:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }

  a {
    color: white;
    text-decoration: none;
    transition: transform 0.2s;
  }
  a:hover {
    color: white;
    transform: scale(1.1);
  }

  .social-links {
    display: flex;
    gap: 15px;
    a {
      color: #c43a69;
    }
  }
}
.close-mobile-menu {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
  transition: transform 0.4s;
  &&:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}

.btn-contact {
  border: 2px solid #c43a69;
  border-radius: 50px;
  background-color: #751938;
  color: white;
  padding: 5px 20px 5px 20px;
}

#navbar {
  display: flex;
  z-index: 90;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  transition: background-color 0.5s;

  .navbar-desktop {
    display: flex;

    align-items: center;
    gap: 30px;
    color: white;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      transition: transform 0.2s;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
}

.navbar-mobile-close {
  display: none;
  font-size: 2rem;
  color: white;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
  &&:hover {
    transform: scale(1.2);
  }
}

#mobile-menu {
  display: none;
  transition: all 0.5s;
}

#lang-menu {
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  transition: transform 0.3s;
  &&:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
#dropdown-langs {
  display: none;
  /*  display: flex;*/
  position: absolute;
  bottom: -90px;
  right: -10px;
  gap: 10px;
  padding: 12px;
  border: 2px solid white;
  border-radius: 10px;
  flex-direction: column;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.12);

  button {
    background-color: transparent;
    border: none;
    color: white;
    transition: transform 0.3s;

    &&:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 900px) {
  #mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #navbar > .navbar-desktop {
    display: none;
  }

  .navbar-mobile-close {
    display: block;
  }
}
