.shadow-image {
  filter: drop-shadow(0px 1px 16px rgba(0, 0, 0, 0.75));
}

.container-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}

.relative-wrapper {
  position: relative;
}

.left-route {
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 90%;
  width: auto;
}

.right-route {
  position: absolute;
  bottom: 10px;
  right: 0px;
  height: 90%;
  width: auto;
}

/* Tint images teams */
.tint-image {
  position: relative;
  width: max-content;
  height: 100;
}

.tint-image::before {
  content: "";
  position: absolute;
  inset: 0;
}

.blue-image {
  background-color: blue;
  -webkit-mask-image: var(--mask);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: var(--mask);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.red-image {
  background-color: red;
  -webkit-mask-image: var(--mask);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: var(--mask);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.tint-image img {
  opacity: 0.8;
  object-fit: cover;
  height: 400px;
}

.faqs-container {
  background-image: url("../images/Imagenes-Vex-Thon/Fondo\ FAQs\ VEX-Thon.png");
  color: white;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 70px;
  }
  .summary-faq {
    list-style: none; /* Elimina el estilo de lista */
    cursor: pointer;
    padding: 10px 0px 10px 0px;
  }
  .summary-faq::before {
    content: "+"; /* Tu símbolo */
    margin-right: 10px; /* Espacio entre símbolo y texto */
    font-weight: bold;
  }

  details[open] .summary-faq::before {
    content: "-";
  }
  article {
    display: grid;
    gap: 50px;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: left;

    section {
      max-width: 500px;
      summary {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .separator {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .faqs-container {
    article {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 250px;
  }
}

.footer-container {
  .footer-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1a1a1a;

    .footer-slogan-text {
      width: 90%;
      border-top: 2px solid #c43a69;
      border-bottom: 2px solid #c43a69;
      padding-bottom: 30px;
      padding-top: 30px;
      font-size: 25px;
      text-align: center;
      color: #fff;
      font-family: "Mollen personal use", sans-serif;
    }
    #follow-us {
      margin-top: 40px;
      font-family: "Mollen personal use", sans-serif;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }

    .footer-social-links-container {
      display: flex;
      padding-top: 20px;
      gap: 15px;

      .footer-social-link {
        font-size: 20px;
        color: #c43a69;
        text-decoration: none;
      }
    }
  }

  .footer-info {
    background-color: #242424;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer-logo-image {
      max-width: 80px;
    }
    .footer-section {
      max-width: 250px;
    }

    .footer-title-text {
      margin-bottom: 30px;
      font-family: "Mollen personal use", sans-serif;
      color: #c43a69;
      font-size: 20px;
    }
    .footer-info-text {
      font-family: "Mollen personal use", sans-serif;
      color: #fff;
      font-size: 17px;
      line-height: 23px;
      text-decoration: none;
    }
  }

  .footer-copyright-text {
    background-color: #242424;
    display: flex;
    justify-content: center;
    span {
      width: 90%;
      border-top: 1px solid gray;

      padding-block: 30px;

      text-align: center;
      font-family: "Mollen personal use", sans-serif;
      color: #fff;
      font-size: 15px;
    }
  }
}

/* Estilo sin editar */

/* Esto sirve para que el navegador no aplique estilos por defecto a los elementos HTML. 
Es una buena práctica para evitar problemas de compatibilidad entre navegadores. Si lo quitas
Aparecera un borde blanco alrededor de la pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  background: url("../images/Imagenes-Vex-Thon/portada\ a\ la\ pàgina\ de\ la\ VEX-Thon.png")
    no-repeat center center;
  background-size: 100% auto; /* Ajustar el ancho al 100% y la altura automática */
  position: relative;
  height: 100vh;
  background-position: bottom; /* Si quieres alinear la imagen en la parte superior */
}

.background-info-container {
  background: url("../images/pucra-timeline-2000x2829-p-1080.png") no-repeat
    center center;
  background-size: cover;
}

.espacio-boton {
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

.main-content {
  position: relative;
  z-index: 2;
  display: flex;
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  height: 800px;
}

.recuadro-boton-formulario {
  position: relative;
  bottom: 40px;
  height: auto; /* Solo ocupa el espacio necesario para el contenido */
  justify-content: center; /* Centra el botón horizontalmente */
  padding: 20px; /* Espaciado interno si es necesario */
}

.boton-formulario {
  position: relative;
  top: 70px;
  padding: 30px 50px;
  color: #ffffff;
  background-color: #800040;
  border: 2px solid #a9075b;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  transition: 0.4s ease-in-out; /* Suaviza la transición */
  box-shadow: 0 0 0px rgba(0, 0, 255, 0); /* Sin sombra inicialmente */
}

.boton-formulario:hover {
  background-color: #a7245d;
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px #bd1254, 0 0 40px #ee4798; /* Brillo azul */
  transition: all 0.4s ease-in-out;
}

/* Nuevo botón con especificaciones diferentes */
.boton-formulario-principal {
  position: relative;
  background-color: 1px solid #520029;
  border: 4px solid #a9075b;
  top: 10px;
  padding: 40px 120px;
  font-size: 40px;
}

.right-column {
  position: relative;
  padding-left: 35px;
}

.Imagen-Separador {
  width: 90%;
  top: 50px;
}

.info,
.novetats {
  margin: 20px 0;
}

.info h2,
.info p {
  color: white;
}

.itinerario {
  background-color: green;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
}

/* Parte de Novetats */

.card {
  position: relative;
  width: 300px;
  height: 190px;
  padding: 15px;
  background: #fff;
  border: 6px solid #000;
  box-shadow: 6px 6px 0 #000; /* Reducción de la sombra */
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 20px auto; /* Centrar el .card horizontalmente */
  top: 70px;
}

.card:hover {
  transform: translate(-6px, -6px); /* Ajuste del desplazamiento */
  box-shadow: 9px 9px 0 #000; /* Ajuste del tamaño de la sombra en hover */
}

.card__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1.2; /* Aumenta la anchura de la línea */
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card:hover .card__title::after {
  transform: translateX(0);
}

.card__content {
  font-size: 19px;
  line-height: 1.2;
  color: #000;
  text-align: left;
  padding-left: 15px;
}

/* Ajustes de movil */
@media (max-width: 992px) {
  .boton-formulario-principal {
    padding: 15px 30px;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }

  .espacio-boton {
    height: 120px;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
  }

  .card {
    width: 95%;
    margin: 15px auto;
    padding: 10px;
  }

  .main-container {
    background: url("../images/Imagenes-Vex-Thon/portada\ VEX-Thon\ versión\ movil.png")
      no-repeat center center;
    background-color: #38001c;
    background-size: cover; /* Ajustar el ancho al 100% y la altura automática */
    background-position: bottom; /* Si quieres alinear la imagen en la parte superior */
  }

  .explicacion-vex-thon {
    margin-top: 0; /* Eliminar margen negativo */
  }

  /* Ajuste adicional para las explicaciones */
  .explicacion-vex,
  .explicacion-vex-thon {
    padding: 20px;
    font-size: 14px;
  }

  .explicacion-vex h2,
  .explicacion-vex-thon h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .explicacion-vex-thon h2 {
    font-size: 24px; /* Reduce el tamaño de los títulos */
  }

  .explicacion-vex-thon p {
    font-size: 14px; /* Reduce el tamaño del texto de los párrafos */
    line-height: 1.4em; /* Aumenta el interlineado */
  }

  .faq-column {
    width: 100%;
  }

  .faqs-container {
    padding: 10px;
  }

  .faqs-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .faq-section h2 {
    font-size: 20px;
  }

  .faq-question {
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    left: 0;
    padding-left: 15px;
  }

  .faq-answer p {
    font-size: 12px;
  }

  .faq-answer {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .main-container {
    background: url("../images/Imagenes-Vex-Thon/portada\ a\ la\ pàgina\ de\ la\ VEX-Thon.png")
      no-repeat center center;
    background-size: 100% auto; /* Ajustar el ancho al 100% y la altura automática */
    position: relative;
    height: 85vh;
    background-position: bottom; /* Si quieres alinear la imagen en la parte superior */
    background-color: #38001c;
  }

  .main-content {
    height: 1300px;
  }
}
