body {
  font-family: "Mollen personal use", sans-serif;
  margin: 0px;
  background-color: black;
}

.article-head-title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: white;
  max-width: 600px;
  width: 100%;
}

.article-header {
  background-color: black;
  background-image: url("./images/bg_header.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0px 130px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .article-head-desc {
    text-align: center;
    font-size: 25px;
    color: white;
  }
}

.article-container {
  background-color: rgb(42, 42, 42);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 280px 60px;
  grid-template-areas:
    "grid-1 grid-2"
    "grid-3 grid-4";
  padding: 50px;
  justify-content: center;
  place-content: center;
  align-items: center;
  gap: 80px;
  height: 100vh;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .article-logo {
    max-width: 500px;
    min-width: 200px;
    width: 100%;
  }

  .article-text {
    color: white;
    font-size: 20px;
    width: 500px;
    line-height: 30px;
    text-align: justify;
  }

  .btn-container {
    display: flex;
    gap: 20px;
  }

  .grid-1 {
    grid-area: grid-1;
  }
  .grid-2 {
    grid-area: grid-2;
  }
  .grid-3 {
    grid-area: grid-3;
  }
  .grid-4 {
    grid-area: grid-4;
  }
}

.image-vexthon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_Vex-Thon.jpg");
}

.image-regional {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_Regional_2023.png");
}

.image-vex-23 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_VEX_2023_Events.png");
}

.image-vex-22 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_VEX_SPAIN_2022.jpg");
}

.image-vex-21 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_VEX_SPAIN_2021.jpg");
}

.image-vex-20 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_VEX_SPAIN_2020.jpg");
}

.image-vex-19 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/bg_VEX_SPAIN_2019.jpg");
}

.article-container:nth-child(even) {
  grid-template-areas:
    "grid-2 grid-1"
    "grid-4 grid-3";
}

@media (max-width: 900px) {
  .article-container:nth-child(even) {
    grid-template-areas:
      "grid-1 grid-1"
      "grid-2 grid-2"
      "grid-3 grid-3"
      "grid-4 grid-4";
  }
  .article-container {
    height: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
      "grid-1 grid-1"
      "grid-2 grid-2"
      "grid-3 grid-3"
      "grid-4 grid-4";

    gap: 10px;
    place-items: center;
    .article-text {
      width: auto;
      padding: 0px 10px 0px 10px;
    }
  }
}

.more-info-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 2px solid #c43a69;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #751938;
  text-align: center;
  max-width: 190px;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
