body {
  font-family: "Mollen personal use", sans-serif;
  margin: 0px;
  background-color: black;
}

.article-header {
  background-color: black;
  background-image: url("./images/pucra-timeline-2000x2829.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0px 130px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .article-head-title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
    max-width: 600px;
  }

  .article-head-desc {
    text-align: center;
    font-size: 25px;
    color: white;
  }
}

.article-container {
  background-color: rgb(42, 42, 42);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 280px 60px;
  padding: 50px;
  justify-content: center;
  place-content: center;
  align-items: center;
  gap: 80px;
  height: 100vh;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .article-logo {
    max-width: 500px;
    min-width: 200px;
    width: 100%;
  }

  .article-text {
    color: white;
    font-size: 20px;
    width: 500px;
    line-height: 30px;
    text-align: justify;
  }
}

.image-vexthon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/Vex-Thon-Fondo.jpg");
}

.image-regional {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images//Foto_Regional_2023.png");
}

.image-vex-23{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/Fondo_VEX_2023_Events.png");
}
.reverse-grid {
  direction: rtl;
}

@media (max-width: 900px) {
  .article-container {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    place-items: center;
    .article-text {
      width: auto;
      padding: 0px 10px 0px 10px;
    }
  }
  .reverse-grid {
    direction: ltr;
  }
}

.more-info-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 2px solid #c43a69;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #751938;
  text-align: center;
  max-width: 190px;
}
/* old +/



.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/pucra-timeline-2000x2829.png");
  background-position: 50% 50%;
  background-size: cover;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Mollen personal use", sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
}

.paragraph-23 {
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Mollen personal use", sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

/* Containers Events */
.container-Vex-2019,
.container-Vex-2020,
.container-Vex-2021,
.container-Vex-2022,
.container-Vex-2023,
.container-Vex-2024,
.container-Vex-Thon {
  display: flex;
  max-width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.719),
    rgba(0, 0, 0, 0.911)
  );
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
}

.container-Vex-2019 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/dsc-207-2000x1326.jpg");
}

.container-Vex-2020 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/49492274747-891927b4bb-o-1-2000x1335.jpg");
}

.container-Vex-2021 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/bg_VEX_SPAIN_2021.jpg");
}

.container-Vex-2022 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/bg_VEX_SPAIN_2022.jpg");
}

.container-Vex-2023 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/Fondo_VEX_2023_Events.png");
}

.container-Vex-2024 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/Foto_Regional_2023.png");
}

.container-Vex-Thon {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.911)
    ),
    url("../images/Imagenes-Vex-Thon/Vex-Thon-Fondo.jpg");
}

/*Imagen de fondo para la sección de eventos*/
.imagen-vexweb {
  max-width: 550px;
  margin-top: -150px;
  padding-inline: 100px;
}

.imagen-vex-thon-logo {
  max-width: 650px;
  margin-top: -150px;
  padding-inline: 100px;
}

/* Div-blocks Eventos*/
.div-block-22 {
  width: 500px;
}

.paragraph {
  margin-bottom: 30px;
  font-family: "Mollen personal use", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-align: justify;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.button-3 {
  margin-right: 0px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #c43a69;
  border-radius: 50px;
  background-color: #751938;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  font-family: "Mollen personal use", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 912px) {
  .button-3 {
    margin-right: 0px;
  }

  .div-block-20 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph {
    padding: 0 10px;
  }

  .container-7 {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .heading-4 {
    font-size: 40px;
    line-height: 50px;
  }

  .paragraph-23 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .container-Vex-2019,
  .container-Vex-2020,
  .container-Vex-2021,
  .container-Vex-2022,
  .container-Vex-2023,
  .container-Vex-2024,
  .container-Vex-Thon {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .imagen-vexweb {
    max-width: 300px;
    margin-top: 10px;
    padding-inline: 20px;
  }

  .imagen-vex-thon-logo {
    max-width: 300px;
    margin-top: 10px;
    padding-inline: 20px;
  }

  .imagen-vexweb {
    order: 1; /* Cambia el orden en dispositivos móviles */
  }
}
